# Cleaning and Transforming Data with Pandas

In [2]:
# import libraries

import pandas as pd
import numpy as np

In [3]:
# loading dataset
df=pd.read_csv('datasets\data_cleaning_in_python.csv')
df.head()

,customer_id,Product Name,Price,Quantity,Customer_Type,Order_Date,customer_email
0,1027,laptop,169.12,3,PREMIUM,NaN,bob@email.com
1,1046,Smartphone,1189.32,4,PREMIUM,NaN,charlie@email.com
2,1097,MOUSE,MISSING,2,Regular,2024-01-06,eve@email.com
3,1042,laptop,MISSING,5,Premium,2024-01-21,alice@email.com
4,1045,headphones,MISSING,3,regular,2024-01-04,charlie@email.com

In [17]:
print("�� My Messy Dataset:") 
print(df) 
print(f"\nDataset shape: {df.shape}") 
print(f"Data types:\n{df.dtypes}")

�� My Messy Dataset:
     customer_id  Product Name     Price  Quantity Customer_Type  Order_Date  \
0           1027         laptop   169.12         3       PREMIUM         NaN
1           1046     Smartphone  1189.32         4       PREMIUM         NaN
2           1097          MOUSE  MISSING         2       Regular  2024-01-06
3           1042         laptop  MISSING         5       Premium  2024-01-21
4           1045     headphones  MISSING         3       regular  2024-01-04
..           ...            ...      ...       ...           ...         ...
225         1075     Smartphone  1178.55         5       regular         NaN
226         1095     Smartphone  MISSING         5       Regular         NaN
227         1091     headphones  1145.56         4       PREMIUM  2024-01-29
228         1050         Tablet   143.49         1       PREMIUM  2024-01-25
229         1045         laptop  MISSING         2       Premium         NaN

       customer_email
0        bob@email.com
1    charlie@email.com
2        eve@email.com
3      alice@email.com
4    charlie@email.com
..                 ...
225      bob@email.com
226    diana@email.com
227  CHARLIE@EMAIL.COM
228      bob@email.com
229      BOB@EMAIL.COM

[230 rows x 7 columns]

Dataset shape: (230, 7)
Data types:
customer_id          int64
 Product Name       object
Price               object
Quantity             int64
Customer_Type       object
Order_Date          object
 customer_email     object
dtype: object

## Identifying and Handling Missing Data

#### Step 1: Finding Missing Data

In [87]:
print("�� Detecting Missing Data:") 
df_clean.head()

�� Detecting Missing Data:

,customer_id,product_name,price,Quantity,customer_type,order_date,customer_email
0,1027,Laptop,169.120,3,Premium,2024-01-22,bob@email.com
1,1046,Smartphone,1189.320,4,Premium,2024-01-22,charlie@email.com
2,1097,Mouse,527.895,2,Regular,2024-01-06,eve@email.com
3,1042,Laptop,527.895,5,Premium,2024-01-21,alice@email.com
4,1045,Headphones,527.895,3,Regular,2024-01-04,charlie@email.com

In [13]:
# Check for missing values 
print("Missing values per column:") 
print(df.isnull().sum()) 
print("\nPercentage of missing data:") 
missing_percent = (df.isnull().sum() / len(df)) * 100 
print(missing_percent)

Missing values per column:
customer_id           0
 Product Name         0
Price                 0
Quantity              0
Customer_Type         0
Order_Date          131
 customer_email       0
dtype: int64

Percentage of missing data:
customer_id          0.000000
 Product Name        0.000000
Price                0.000000
Quantity             0.000000
Customer_Type        0.000000
Order_Date          56.956522
 customer_email      0.000000
dtype: float64

In [19]:
# Let's also check for 'MISSING' and empty strings 
print("\nOther forms of missing data:") 
print("'MISSING' values in Price column:", (df['Price'] =='MISSING').sum())
print("Empty strings in Order_Date:",)

Other forms of missing data:
'MISSING' values in Price column: 118
Empty strings in Order_Date:

### Step 2: Cleaning Missing Data

In [10]:
# First, let's replace 'MISSING' and empty strings with actual NaN values 

df['Price'] = df['Price'].replace('MISSING', np.nan) 

df['Price'].head(5)

0     169.12
1    1189.32
2        NaN
3        NaN
4        NaN
Name: Price, dtype: object

# Strategy 1: Drop rows with missing values (use carefully!)

In [13]:
df_drop_missing = df.dropna() 

print(f"\nAfter dropping all missing values: {df_drop_missing.shape[0]} rows remain")

After dropping all missing values: 49 rows remain

# Strategy 2: Fill missing values with appropriate replacements

In [14]:
df_filled = df.copy()

In [16]:
## Fill missing prices with the median price (after converting to numeric)

df_filled['Price'] = pd.to_numeric(df_filled['Price'], errors='coerce') 
median_price = df_filled['Price'].median() 
df_filled['Price'] = df_filled['Price'].fillna(median_price)

In [17]:
df_filled.isnull().sum()

customer_id           0
 Product Name         0
Price                 0
Quantity              0
Customer_Type         0
Order_Date          131
 customer_email       0
dtype: int64

# Step 3: Strategic Decision Making

In [18]:
print(" Choosing the Right Strategy:") 
# For our retail data, let's make smart decisions: 
df_clean = df.copy() 

# Convert Price to numeric first 
df_clean['Price'] = pd.to_numeric(df_clean['Price'].replace('MISSING', np.nan), errors='coerce') 

# Fill missing price with median (makes business sense) 
df_clean['Price'] = df_clean['Price'].fillna(df_clean['Price'].median()) 

# Fill missing dates with the most recent date + 1 day 
df_clean['Order_Date'] = df_clean['Order_Date'].replace('', np.nan) 
df_clean['Order_Date'] = df_clean['Order_Date'].fillna('2024-01-22') 
print("✅ Strategic missing data handling complete!") 
print(df_clean.isnull().sum())

 Choosing the Right Strategy:
✅ Strategic missing data handling complete!
customer_id         0
 Product Name       0
Price               0
Quantity            0
Customer_Type       0
Order_Date          0
 customer_email     0
dtype: int64

#  Cleaning Column Names and Data Types

#### Fixing Column Names

In [86]:
print("️ Cleaning Column Names:")
df_clean.head()

️ Cleaning Column Names:

,customer_id,product_name,price,Quantity,customer_type,order_date,customer_email
0,1027,Laptop,169.120,3,Premium,2024-01-22,bob@email.com
1,1046,Smartphone,1189.320,4,Premium,2024-01-22,charlie@email.com
2,1097,Mouse,527.895,2,Regular,2024-01-06,eve@email.com
3,1042,Laptop,527.895,5,Premium,2024-01-21,alice@email.com
4,1045,Headphones,527.895,3,Regular,2024-01-04,charlie@email.com

In [21]:
# Check current column names 
print("Original columns:", df_clean.columns.tolist())

Original columns: ['customer_id', ' Product Name ', 'Price', 'Quantity', 'Customer_Type', 'Order_Date', ' customer_email ']

In [22]:
# Method 1: Strip spaces and standardize 
df_clean.columns = df_clean.columns.str.strip()

In [25]:
# Remove leading/trailing spaces 
print("After stripping spaces:", df_clean.columns.tolist())

After stripping spaces: ['customer_id', 'product_name', 'Price', 'Quantity', 'Customer_Type', 'order_date', 'customer_email']

In [50]:
# Method 2: Rename specific columns 
df_clean = df_clean.rename(columns={ 
    'Product Name': 'product_name', # Consistent naming convention 'Customer_Type': 'customer_type', 
    'Order_Date': 'order_date',
    'Customer_Type':'customer_type',
    'Price':'price'
}) 
print("After renaming:", df_clean.columns.tolist())

After renaming: ['customer_id', 'product_name', 'price', 'Quantity', 'customer_type', 'order_date', 'customer_email']

### Converting Data Types

In [85]:
print("�� Converting Data Types:")
df_clean.head()

�� Converting Data Types:

,customer_id,product_name,price,Quantity,customer_type,order_date,customer_email
0,1027,Laptop,169.120,3,Premium,2024-01-22,bob@email.com
1,1046,Smartphone,1189.320,4,Premium,2024-01-22,charlie@email.com
2,1097,Mouse,527.895,2,Regular,2024-01-06,eve@email.com
3,1042,Laptop,527.895,5,Premium,2024-01-21,alice@email.com
4,1045,Headphones,527.895,3,Regular,2024-01-04,charlie@email.com

In [52]:
# Check current data types 
print("Current data types:") 
print(df_clean.dtypes)

Current data types:
customer_id                int64
product_name              object
price                    float64
Quantity                   int64
customer_type             object
order_date        datetime64[ns]
customer_email            object
dtype: object

In [53]:
# Convert Price to float (already done above, but let's be explicit) 

df_clean['price'] = df_clean['price'].astype(float)

In [54]:
# Convert order_date to datetime 
df_clean['order_date'] = pd.to_datetime(df_clean['order_date'])

In [55]:
# Convert quantity to integer (it should already be, but let's make sure) df_clean['quantity'] = df_clean['quantity'].astype(int) 
print("\nAfter type conversion:") 
print(df_clean.dtypes) 
print("\n✅ Data types are now appropriate for analysis!")

After type conversion:
customer_id                int64
product_name              object
price                    float64
Quantity                   int64
customer_type             object
order_date        datetime64[ns]
customer_email            object
dtype: object

✅ Data types are now appropriate for analysis!

#### Cleaning Text Data 
#### Standardizing Text Fields

In [84]:
print("�� Cleaning Text Data:") 
df_clean.head()

�� Cleaning Text Data:

,customer_id,product_name,price,Quantity,customer_type,order_date,customer_email
0,1027,Laptop,169.120,3,Premium,2024-01-22,bob@email.com
1,1046,Smartphone,1189.320,4,Premium,2024-01-22,charlie@email.com
2,1097,Mouse,527.895,2,Regular,2024-01-06,eve@email.com
3,1042,Laptop,527.895,5,Premium,2024-01-21,alice@email.com
4,1045,Headphones,527.895,3,Regular,2024-01-04,charlie@email.com

In [57]:
# Clean product names 
print("Original product names:") 
print(df_clean['product_name'].unique())

Original product names:
['Laptop' 'Smartphone' 'Mouse' 'Headphones' 'Tablet' 'Keyboard']

In [58]:
# Remove extra spaces and standardize case 
df_clean['product_name'] = df_clean['product_name'].str.strip() # Remove leading/trailing spaces

In [59]:
 df_clean['product_name'] = df_clean['product_name'].str.title() # Title Case 
print("\nAfter cleaning:") 
print(df_clean['product_name'].unique())

After cleaning:
['Laptop' 'Smartphone' 'Mouse' 'Headphones' 'Tablet' 'Keyboard']

In [60]:
# Clean customer type 
print("Original customer types:") 
print(df_clean['customer_type'].unique())

Original customer types:
['PREMIUM' 'Regular' 'Premium' 'regular']

In [61]:
# Standardize customer type 
df_clean['customer_type'] = df_clean['customer_type'].str.strip().str.lower().str.title() 
print("After cleaning:") 
print(df_clean['customer_type'].unique()) 
print("\n✨ Text data is now clean and consistent!")

After cleaning:
['Premium' 'Regular']

✨ Text data is now clean and consistent!

 # Removing Duplicates 
### Finding and Removing Duplicate Records

In [83]:
print("�� Handling Duplicate Records:") 
df_clean.head()

�� Handling Duplicate Records:

,customer_id,product_name,price,Quantity,customer_type,order_date,customer_email
0,1027,Laptop,169.120,3,Premium,2024-01-22,bob@email.com
1,1046,Smartphone,1189.320,4,Premium,2024-01-22,charlie@email.com
2,1097,Mouse,527.895,2,Regular,2024-01-06,eve@email.com
3,1042,Laptop,527.895,5,Premium,2024-01-21,alice@email.com
4,1045,Headphones,527.895,3,Regular,2024-01-04,charlie@email.com

In [67]:
# Check for duplicates 
print(f"Total rows: {len(df_clean)}") 
print(f"Duplicate rows: {df_clean.duplicated().sum()}")

Total rows: 230
Duplicate rows: 10

In [69]:
# See which rows are duplicates

if df_clean.duplicated().sum() > 0: 
   print("\nDuplicate rows:") 
   print(df_clean[df_clean.duplicated()])

Duplicate rows:
     customer_id product_name     price  Quantity customer_type order_date  \
220         1027       Laptop   169.120         3       Premium 2024-01-22
221         1014       Laptop   493.680         4       Regular 2024-01-22
222         1088   Headphones   527.895         5       Premium 2024-01-22
223         1029       Laptop   527.895         4       Regular 2024-01-22
224         1096   Smartphone   984.610         2       Premium 2024-01-22
225         1075   Smartphone  1178.550         5       Regular 2024-01-22
226         1095   Smartphone   527.895         5       Regular 2024-01-22
227         1091   Headphones  1145.560         4       Premium 2024-01-29
228         1050       Tablet   143.490         1       Premium 2024-01-25
229         1045       Laptop   527.895         2       Premium 2024-01-22

        customer_email
220      bob@email.com
221      eve@email.com
222      eve@email.com
223      bob@email.com
224      EVE@EMAIL.COM
225      bob@email.com
226    diana@email.com
227  CHARLIE@EMAIL.COM
228      bob@email.com
229      BOB@EMAIL.COM

In [70]:
# Remove duplicates 
df_clean = df_clean.drop_duplicates() 
print(f"\nAfter removing duplicates: {len(df_clean)} rows remain")

After removing duplicates: 220 rows remain

In [71]:
# Alternative: Remove duplicates based on specific columns 
# df_clean = df_clean.drop_duplicates(subset=['customer_id', 'product_name']) print("✅ Duplicates removed!")

# The Clean Dataset

In [79]:
print("�� Our Clean Dataset:") 

df_clean.head()

�� Our Clean Dataset:

,customer_id,product_name,price,Quantity,customer_type,order_date,customer_email
0,1027,Laptop,169.120,3,Premium,2024-01-22,bob@email.com
1,1046,Smartphone,1189.320,4,Premium,2024-01-22,charlie@email.com
2,1097,Mouse,527.895,2,Regular,2024-01-06,eve@email.com
3,1042,Laptop,527.895,5,Premium,2024-01-21,alice@email.com
4,1045,Headphones,527.895,3,Regular,2024-01-04,charlie@email.com

In [80]:
print(f"\nFinal dataset info:") 
print(f"Shape: {df_clean.shape}")

Final dataset info:
Shape: (220, 7)

In [81]:
print(f"Data types:\n{df_clean.dtypes}")

Data types:
customer_id                int64
product_name              object
price                    float64
Quantity                   int64
customer_type             object
order_date        datetime64[ns]
customer_email            object
dtype: object

In [82]:
print(f"Missing values: {df_clean.isnull().sum().sum()}") 

print("\n✨ Transformation complete! From messy to magnificent! ✨")

Missing values: 0

✨ Transformation complete! From messy to magnificent! ✨

# Part B: Data Transformation 
 Learning Objectives - Part B

# ➕ Creating New Columns 
Basic Arithmetic Operations

In [30]:
print("➕ Creating Calculated Columns:")

➕ Creating Calculated Columns:

In [32]:
# 1. Calculate total sales amount 
df['total_sales'] = df['price'] * df['quantity']

KeyError: 'price'

In [34]:
# 2. Calculate discount amount (let's say 10% for Premium customers) 
df_transformed['discount_rate'] = df_transformed['customer_type'].apply(lambda x: 0.10 if x == 'Premium' else 0.05)
df_transformed['discount_amount'] = df_transformed['total_sales'] * df_transformed['discount_rate']

NameError: name 'df_transformed' is not defined